/* Dine styles her */
form {
  padding: 2rem;
  background: hsl(264 30% 96%);
  border-radius: 8px;
}

label,
input,
textarea,
select,
button {
  display: block;
}

form {
  display: grid;
  gap: 2rem;
}

.form-felt {
  display: grid;
  gap: 3px;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
}

button {
  background-color: plum;
  height: 40px;
 
}
